<div class="row">
  <aside class="col-md-4">
    <section class="users">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <%= @user.email %>
      </h1>
    </section>
    <% if user_signed_in? && @user != current_user %>
      <% if !current_user.involved_with?(@user) %>
      	<%= form_for @relationship do |f| %>
          <%= hidden_field_tag "requested_id", @user.id %>
          <%= f.submit t ".addfriend" %>
        <% end %>
      <% end %>
    <% end %>
  </aside>
</div>
